accelerate==0.32.1
beautifulsoup4==4.13.4
beir==2.1.0
bitsandbytes==0.45.4
chex==0.1.89
faiss_cpu==1.10.0
fastcore==1.7.29
fire==0.6.0
flax==0.10.6
ftfy==6.3.1
ghapi==1.0.6
jax==0.6.0
liger_kernel==0.5.9
matplotlib==3.10.3
openai==1.78.1
optax==0.2.4
pandas==2.2.3
python-dotenv==1.1.0
ray==2.43.0
regex==2024.5.15
Requests==2.32.3
selenium==4.32.0
sentence_transformers==3.4.1
setuptools==76.0.0
srsly==2.5.1
swebench==3.0.15
tiktoken==0.7.0
torch==2.6.0
tqdm==4.66.4
transformers==4.51.3
ujson==5.10.0
unidiff==0.7.5
vllm==0.8.5.post1
wandb==0.19.11
